hf/src/3rdparty/prosoft-biometrics-pvs/3rdparty/fftw/*
version
tags
.sfvf
*.autosave
*.swp
moc_*.cpp
moc_*.h
.ninja*
*.ninja*
.kati*
.color_coded
Session.vim
env.sh
*.qmlc
*.o
Makefile
Makefile.*
.obj/
.moc/
bin/
.ui/
.resources
.~lock.*
*.user
*.user.*
biosmart.db
td10db.db
.cproject
.project
.settings
test.sql
fw_prepare
!files/firmware
files/firmware/*-*.bin
fw.tar.gz
test
test_*
custom.pri
temp
object_script.*
debug
release
hf/src/core/web/wwwroot/node_modules
.ycm_extra_conf.pyc
tmp
.qmake.stash
app
files/doc/*.aux
files/doc/*.gz
files/doc/*.pdf
files/doc/*.log
hf/src/3rdparty/device-protocol-protobuf/config.pri
files/addons/*
hf/src/3rdparty/device-protocol-protobuf/bsprotobuf/libbsprotobuf.so.*
hf/src/3rdparty/device-protocol-protobuf/bsprotobuf/libbsprotobuf.so
hf/src/3rdparty/device-protocol-protobuf/device-protocol-OT_STREAM_FACE_EXTRACTOR/libOT_STREAM_FACE_EXTRACTOR.so.*
hf/src/3rdparty/device-protocol-protobuf/device-protocol-OT_STREAM_FACE_EXTRACTOR/libOT_STREAM_FACE_EXTRACTOR.so
hf/src/3rdparty/device-protocol-protobuf/device-protocol-OT_STREAM_FACE_EXTRACTOR/linux-cpp
.vscode/settings.json
hf/src/3rdparty/prosoft-biometrics-pvs/bin/*
hf/src/3rdparty/prosoft-biometrics-pvs/bin/linux-oe-g++/remote
